{% extends "base.html" %}

			{% block head %}
			<script src="https://rawgithub.com/mbostock/d3/master/d3.min.js"></script>
<style>

</style>
<script>	

var width = 960;
var height = 500;

function resize(){
	height = $(window).height() - 100;
	width = $(window).width() - 100;

	$('#kg').width(width);
	$('#kg').height(height);

}
$(function(){

	resize();

	var svg = d3.select("#kg").append("svg")
		.attr("width", width)
		.attr("height", height);

	var force = d3.layout.force()
		.gravity(.05)
		.distance(100)
		.charge(-100)
		.size([width, height]);

	d3.json("/kg.json", function(error, json) {
		force
			.nodes(json.nodes)
			.links(json.links)
			.start();
	});
})

</script>
			{% endblock %}

		{% block content%}

<div id="kg"></div>


		{% endblock content %}