{% extends "base.html" %}

			{% block head %}
<style>
#image{
}

center{
	margin-top:20px;
	margin-bottom:20px;
}
center div{
	margin-top:2px;
	margin-bottom:2px;
}

.question{
	font-size:1.1em;
	padding-bottom:15px;
}

.answer{
	font-size:1.3em;
	padding-bottom:15px;
	}

.user{
	display:block;
	float:left;
	margin-left:10px;
	margin-right:10px;
	width:90px;
	height:102px;
	border:1px solid #ddd;
	padding-top:5px;
	text-align:center;
}

#user_close{
clear:both;
}
</style>
<script>				
</script>
			{% endblock %}


{% block intro %}
<div id="image">
	
</div>
{% endblock %}


{% block header %}

{% endblock header %}




		{% block content%}

<center><h1>Knowledge Management is a mess. <br/>Fluid teams make the thing messier. <br/>We are here to help. </h1></center>
		{% endblock content %}