{% extends "base.html" %}

			{% block head %}
			<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
</style>
<script>	

var width = 960;
var height = 500;

KG = {};

function resize(){
	height = $(window).height() - 100;
	width = $(window).width() - 100;

	$('#kg').width(width);
	$('#kg').height(height);

}

KG.nodes = [];
KG.node_ids = [];
KG.da_ndoes = {};
KG.links = [];
KG.link_ids = [];

function update(parent_id){
	if (parent_id == undefined)
		url = "/kg.json";
	else{
		url = "/kg.json?p="+parent_id+"&k="+JSON.stringify(KG.node_ids);
	}

	
	d3.json(url, function(error, json) {

		json['nodes'].forEach(function(d){
			id = d.id;
			KG.da_ndoes[id] = d
		});

		json['links'].forEach(function(d) {
			if (typeof d.source == "number") { d.source = KG.da_ndoes[d.source]; }
			if (typeof d.target == "number") { d.target = KG.da_ndoes[d.target]; }
		});

		json.nodes.forEach(function(d){
			if (KG.node_ids.indexOf(d.id)<0){
				KG.node_ids.push(d.id);
				KG.nodes.push(d);
			}
		});

		json.links.forEach(function(d){
			if (KG.link_ids.indexOf(d.id)<0){
				KG.link_ids.push(d.id);
				KG.links.push(d);
			}
		});



		KG.force.nodes(KG.nodes).links(KG.links).start();

		var link = KG.svg.selectAll(".link")
			.data(KG.links)
			.enter().append("line")
			.attr("class", "link");

		var node = KG.svg.selectAll(".node")
			.data(KG.nodes)
			.enter().append("g")
			.attr("class", "node")
			.call(KG.force.drag);

		node.append("image")
			.attr("xlink:href", "https://github.com/favicon.ico")
			.attr("x", -8)
			.attr("y", -8)
			.attr("width", 16)
			.attr("height", 16)
			.on("click", click)
			.call(KG.force.drag);

		node.append("text")
			.attr("dx", 12)
			.attr("dy", ".35em")
			.text(function(d) { return d.name });

		  KG.force.on("tick", function() {
		    link.attr("x1", function(d) { return d.source.x; })
		        .attr("y1", function(d) { return d.source.y; })
		        .attr("x2", function(d) { return d.target.x; })
		        .attr("y2", function(d) { return d.target.y; });

		    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
		  });
	});
}

function click(d){
	update(d.id);

	}

$(function(){

	resize();

	KG.svg = d3.select("#kg").append("svg")
		.attr("width", width)
		.attr("height", height);

	KG.force = d3.layout.force()
		.gravity(.05)
		.distance(100)
		.charge(-100)
		.size([width, height]);

	update();
	
	
});

</script>
			{% endblock %}

		{% block content%}

<div id="kg"></div>


		{% endblock content %}